# Ignore backend application properties
/backend/src/main/resources/application.properties

# Node modules and build files
frontend/node_modules/
frontend/dist/

# Ignore sensitive config file
backend/src/main/resources/application.properties
